<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/global.css">
</head>
<body>


    <img src="<%= user.profile.picture %>" alt="">
    <h1>Welcome to the App <%= `${user.profile.firstName} ${user.profile.lastName}` %></h1>

    <p>
        <a href="/sign-out">Sign Out</a>
        <a href="/profile">My Profile</a>
    </p>
</body>
</html>