<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <script src="https://kit.fontawesome.com/5aa5c57aae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/global.css">
    <script defer src="/javascript/global.js"></script>
</head>
<body>

    <% if(error) { %>
        <div class="danger-message"> <%= error %> </div>
    <% } %>

    <%- include('../partials/navbar') %>
    
    <div class="wrapper">


        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;height: 30rem;gap: 2rem;">
            <h1>Sign In Page</h1>
            <form action="/sign-in" method="POST" style="display: flex;flex-direction: column;gap: 2rem;">
                <div>
                    <label for="username">Email:</label><br>
                    <input type="text" name="username" id="username"/>
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" />
                </div>
        
                <input type="submit" value="Sign In" class="button regular"/>
            </form>
        
            <p><a href="/sign-up">Sign up</a></p>
        </div>
        
    </div>
    
</body>
<%- include('../partials/footer') %>
</html>